<%= form_with(model: mini_post) do |form| %>
  <% if mini_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mini_post.errors.count, "error") %> prohibited this mini_post from being saved:</h2>

      <ul>
        <% mini_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

<!--  <div>-->
    <%#= form.label :likes, style: "display: block" %>
    <%#= form.number_field :likes %>
<!--  </div>-->

    <%= form.hidden_field :user_id, :value => current_user&.id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
